:root {
  --main_bg_color:      #ccfff7; /**/
  --main_font_color:    #00221d; /**/
  --invert_bg_color:    #7fb3d5; /**/
  --invert_font_color:  #154360; /**/
  --active-item-color:  #7d6608; /**/
  --link_color:         #FFDEAD; /*NavajoWhite*/
  --link_hover_color:   #aed6f1; /**/
  --phone_color:        #f5b041; /**/
  --phone_hover_color:  #fdebd0; /**/
  --header-color:       #FFEFD5; /**/
  --footer-color:       #1f588d; /**/
  --form-color:         #1f588d; /**/
  --form-button-color:  greenyellow; /**/
  --primary_font_family:    Helvetica, sans-serif;
  --secondary_font_family:  Optima, sans-serif;
  --phones_font_family:     Optima, sans-serif;
  --radius: 15px;
  --button_radius: 10px;
  --font_size_desktop: 20px;
  --font_size_desktop_small: 14px;
  --font_size_mobile: 40px;
  --font_size_title_desktop: 40px;
  --font_size_title_mobile: 80px;
  --font_services_size_desktop: 26px;
  --font_services_size_mobile: 40px;
  --font_size_menu_mobile: 60px;
  --color_services_main: #00ccac;
  --color_services_hover: #007764;
  --color_menu_bg: #44bba8;
  --color_menu_bg_invert: #669991;

}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: var(--main_bg_color);
    /*background-image: url(../img/fon_gold_01.png);*/
    /*background-size: cover;*/
    color: var(--main_font_color);
    font-family: var(--secondary_font_family);
    font-size: var(--font_size_desktop);
}

a {
    color: var(--link_color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--link_hover_color);
}

/* ------------------------------------------------------- */
/* ------------- ссылка - иконка с текстом --------------- */
/* ------------------------------------------------------- */
.link-icon-txt {
    display: flex;
    align-items: center;
    height: 100%;
    /*font-size: var(--font_size_desktop);*/
}

.link-icon-txt img{
    display: inline-block;
    height: 100%;
    margin: 0 5px;
}

.link-icon-txt div{
    display: inline-block;
    margin: auto 5px;
}

.link-icon-txt div:hover{
    /*color: var(--link_hover_color);*/
}

/* ------------------------------------------------------- */
/* ----------------------- header -------------------------*/
/* ------------------------------------------------------- */

.header-title-wrapper {
    /*background-color: var(--header-color);*/
    background-image: url("../img/main_line.jpeg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-top-wrapper  {
    width: 100%;
    background-color: var(--main_font_color);
    /*background: rgba(0, 0, 0, 0.6);*/
}

.header-top  {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 1600px;
    margin: auto;
    font-size: var(--font_size_desktop);
    /*background-color: black;*/
    /*border: 1px solid red;*/
    /*opacity: 0.7;*/
}

.header-top-item{
    display: inline-block;
    margin: auto 10px;
    height: 80%;
    padding: 5px 10px;
    border-radius: var(--radius);
    /*border: 1px solid;*/

    color: var(--link_color);
    text-align: center;
    font-family:  var(--primary_font_family);
    font-size: 18px;
    cursor: pointer;
    /*transition: background-color 0.5s ease;*/
    /*background-color: blue;*/
    background: rgba(0, 0, 0, 0.2); /* Затемнение фона */
    /*opacity: 0.6;*/
}

.header-main  {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1600px;
    margin: 0px auto 0px auto;
    border: 3px solid var(--main_font_color);
    border-radius: 60px;
    /*position: sticky;*/
    /*top: 0;*/
    /*z-index: 1000;*/
    position: fixed; /* Фиксированное позиционирование */
    top: 50px;    /* 20px от низа */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;   /* Поверх всех элементов */
    background: darkblue;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    width: 90%;
    /*border: 1px solid red;*/
    margin: 0px auto 10px auto;
    }

.header-menu-item{
    /*display: inline-block;*/
    margin: 0px auto;
    padding: 20px 10px 0px 10px;
    color: var(--link_color);
    text-align: center;
    text-decoration: none;
    font-family:  var(--primary_font_family);
    font-size: 22px;
    cursor: pointer;
}

.header-menu-item:hover {
    color: var(--link_hover_color);
    border-bottom: 5px solid var(--link_hover_color);
    /*transition: border-bottom 0.5s ease;*/
    /*font-size: 26px;*/
}


.header-logo {
    /*display: inline-block;*/
    text-align: center;
    /*width: 10%;*/
    height: 100%;
    /*border: 1px solid red;*/
}

.header-logo img {
    height: 100%;
}

.header-title  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 1600px;
    margin: 100px auto 0px auto;
    font-size: var(--font_size_menu_mobile);
    color: var(--link_color);
    /*border: 1px solid white;*/
    font-weight: bold;
    text-shadow: -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.header-title  p {
    text-align: center;
}


/* -------------- */
/* Гамбургер-меню */
/* -------------- */
.header-hamburger-menu {
    position: relative;
    display: none;
    width: 85%;
    height: 100%;
    margin: 0px 60px 0px 0px;
    /*border: 1px solid yellowgreen;*/
}

/*.dropdown-menu {
    display: none;
}
*/
.hamburger-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: auto 10px auto 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.hamburger-btn:hover {
    background-color: #e0e0e0;
}

/* Три полоски */
.bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
    transition: 0.3s;
}

/* Анимация кнопки при открытии (превращения в крестик)*/
.hamburger-btn.active .bar:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.hamburger-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-btn.active .bar:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}


/* Выпадающее меню */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color_menu_bg);
    width: 100%;
    /*height: 100%;*/
    /*box-shadow: 0 8px 16px rgba(0,0,0,0.2);*/
    border-radius: 4px;
    z-index: 100;
}

/* Показываем меню */
.dropdown-menu.show {
    display: block;
    animation: fadeIn 0.6s;
}

/* Стили пунктов меню */
.header-hamburger-menu-item {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--main_font_color);
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s;
    font-size: var(--font_size_desktop);
}

.dropdown-menu a:hover {
    background: var(--color_menu_bg_invert);
    color: #332b00;
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* -------------- */
/* - Меню  связь -*/
/* -------------- */

/* Основной контейнер */
.contact-menu {
    position: fixed; /* Фиксированное позиционирование */
    bottom: 20px;    /* 20px от низа */
    right: 20px;     /* 20px справа */
    z-index: 1000;   /* Поверх всех элементов */
}

/* Главная круглая кнопка */
.contact-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    /*margin: auto 10px auto 0px;*/
    /*padding: 10px;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    width: 60px;
    height: 60px;
}

.contact-btn:hover {
    transform: scale(1.3);
    /*box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);*/
}

.contact-btn:active {
    transform: scale(0.95);
}



/* Выпадающее меню */
.contact-menu-list {
    position: absolute;
    bottom: 70px; /* Выше кнопки */
    right: 0;
    /*background: grey;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);*/
    min-width: 200px;
    padding: 10px 0;
    /*opacity: 0;*/
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    background: transparent;
}

/* Показываем меню */
.contact-menu-list.show {
    /*opacity: 1;*/
    visibility: visible;
    transform: translateY(0);
}

/* Элементы меню */
.contact-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    background: var(--color_menu_bg_invert);
    border-radius: 30px;
    margin: 10px 0px 0px 0px;
    transition: background 0.2s;
    height: 60px;
}

.contact-menu-item:hover {
    background: var(--color_menu_bg);
    color: var(--main_font_color);
}

/* Разделитель между пунктами */
/*.contact-menu-item:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}*/


/*кнопка "ВВЕРХ сайта"*/

.btn-up {
    position: fixed;
    background: var(--color_menu_bg_invert);
    /*background-color: green;*/
    right: 20px;
    bottom: 50%;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    /*background-image: url("../img/UpArrowAlt.svg") no-repeat center center;*/
}

.btn-up::before {
    content: "";
    width: 80%;
    height: 80%;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("../img/UpArrowAlt.svg");
}

.btn-up_hide {
    display: none;
}

/* ------------------------------------------------------- */
/* ----------------------- content ------------------------*/
/* ------------------------------------------------------- */
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 250px auto 20px auto;
    padding: 0px 0px 0px 0px;
    width: 100%;
    font-size: var(--font_size_title_desktop);
    font-weight: bold;
    /*border: 1px solid black;*/
}

.advantages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1600px;
    margin: 10px auto 10px auto;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    box-shadow: 7px 7px 25px rgba(0,0,0,0.6); /* Тень */
    border-radius: var(--radius);
    width: 300px;
    height: 300px;
    margin: 60px 10px 20px 10px;
    padding: 20px 20px 10px 20px;
    transition: background 0.3s linear;
    font-size: var(--font_size_desktop);
    /*background: #eeece0;*/
    /*font-size: var(--font_services_size_desktop);*/
}

.advantages-item:hover {
    background: #00ccac;
}

.advantages-item img {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
}


.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1600px;
    margin: 10px auto 10px auto;
    /*border: 1px solid red;*/
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    background: var(--color_services_main);
    box-shadow: 7px 7px 25px rgba(0,0,0,0.6); /* Тень */
    /*background-color: rgba(0, 0, 0, 0.6); */
    /*border: 5px solid #bb9e00;*/
    width: 400px;
    height: 300px;
    margin: 80px 10px 20px 10px;
    padding: 20px 20px 10px 20px;
    border-radius: 0px 30px 30px 30px;
    font-size: var(--font_services_size_desktop);
    transition: all 0.3s linear;
}

.services-item:hover {
    /*animation: 1.5s;*/
    background: var(--color_services_hover);
    transform: scale(1.2);
    /*opacity: 1.0;*/
}

.services-item-img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1.0;
    /*z-index: 1000;*/
}

.request {
    display: flex;
    justify-content: space-around;
    /*flex-wrap: wrap;*/
    width: 1600px;
    margin: 10px auto 10px auto;
    /*border: 1px solid red;*/
}

.request-info-wrapper {
    flex: 1 1 0%
}

.request-info-title {
    text-align: center;
    font-size: var(--font_services_size_desktop);
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.request-info-text {
    text-align: center;
    font-size: var(--font_services_size_desktop);
    margin: 10px 20px 10px 20px;
}

.request-info-link {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    background: var(--color_services_main);
    border-radius: 30px;
    width: 80%;
    margin: 10px auto 0px auto;
    transition: background 0.2s;
    height: 50px;
    color: var(--main_font_color);
}

.request-info-link:hover {
    background: var(--color_services_hover);
    /*color: var(--link_hover_color);*/
}

.request-form-wrapper {
    flex: 1 1 0%
}

.request-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto 20px auto;
}

.name, .telephone, .message, .form-button {
    height: 60px;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    font-size: var(--font_services_size_desktop);
    margin: 10px 0px 10px 0px;
}

.message {
    height: 240px;
}

.form-button {
    width: 80%;
    margin: 10px auto 10px auto;
    background: var(--color_services_main);
}

.form-button:hover {
    background: var(--color_services_hover);
    transform: scale(1.1);
    cursor: pointer;
}


/* ------------------------------------------------------- */
/* ----------------------- footer -------------------------*/
/* ------------------------------------------------------- */
.footer-wrapper {
    /*min-height: 300px;*/
    width: 100%;
    background: #191970;
    /*background-image: url(../img/fon_footer.png);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: left;*/
}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    padding: 10px 10px 10px 10px;
    /*justify-content: space-around;*/
    margin: 10px auto 0px auto;
}

.footer-block {
    min-width: 300px;
    /*border: 1px solid yellowgreen;*/
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.footer-text {
    color: var(--link_color);
    margin: 5px 5px 5px 5px;
}

.footer-link-txt {
    color: var(--link_color);
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}


.footer-link-txt:hover {
    color: var(--link_hover_color);
}

.footer-link-block {
    display: flex;
    /*justify-content: space-around;*/
    flex-wrap: wrap;
    margin: 5px 5px 5px 5px;
}

.footer-link-img {
    width: 30px;
    height: 30px;
    margin: 5px 10px 5px 10px;
}

.footer-link-img img{
    width: 100%;
}

.footer-bottom-wrapper {
    width: 100%;
    background: black;
    color: whitesmoke;
}

.footer-bottom {
    width: 1600px;
    margin: 0px auto 0px auto;
    padding: 5px 20px 15px 0px;
    text-align: left;
}

/* ------------------------------------------------------- */


/* ------------------------------------------------------- */
/* ---------------------- adaptive ------------------------*/
/* ------------------------------------------------------- */

@media (max-width: 1600px) {
    .header-top, .header-main, .header-title, .services, .advantages, .request, .footer, .footer-bottom {
        width: 1200px;
    }
}

@media (max-width: 1200px) {
    .header-top, .header-main, .header-title, .services, .advantages, .request, .footer, .footer-bottom {
        width: 1000px;
    }

    .header-top .link-icon-txt  {
        font-size: var(--font_size_desktop_small);
    }
}

@media (max-width: 1000px) {
    .header-top, .header-main, .header-title, .services, .advantages, .request, .footer, .footer-bottom {
        width: 768px;
    }

    .header-top  {
        height: 30px;
    }
    
    .header-top-item  {
        font-size: 14px;
    }

    .header-menu {
        display: none;
    }

    .header-hamburger-menu {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 768px) {
    .header-main, .header-title, .services, .advantages, .request, .footer, .footer-bottom {
        width: 100%;
    }

    .header-top  {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .services-item {
        width: 80%;
    }

}


/* Стили для мобильных устройств */
/* Комплексный медиа-запрос для мобильных */
/*@media (max-width: 767px) and (orientation: portrait), 
       (max-width: 1023px) and (orientation: landscape) and (max-height: 767px) {*/
@media (orientation: portrait) {
    .header-title, .services, .advantages, .request, .footer, .footer-bottom {
        width: 100%;
    }

    .header-top  {
        display: none;
    }

    .header-main  {
        width: 90%;
        height: 200px;
        border-radius: 100px;
    }

    .header-menu {
        display: none;
    }

    .header-title-wrapper {
        height: 800px;
    }

    .header-title  {
        height: 600px;
        font-size: 80px;
    }

    .section-title {
        font-size: var(--font_size_title_mobile);
    }

    .header-hamburger-menu {
        display: flex;
        justify-content: end;
        /*background-color: red;*/
    }

    .header-hamburger-menu-item {
        font-size: var(--font_size_menu_mobile);
        /*font-size: 60px;*/
        padding: 30px 10px 30px 50px;
    }

    .contact-menu {
        bottom: 40px;    /* 20px от низа */
        right: 40px;     /* 20px справа */
    }

    /* Главная круглая кнопка */
    .contact-btn {
        width: 200px;
        height: 200px;
    }

    /* Выпадающее меню */
    .contact-menu-list {
        bottom: 220px; /* Выше кнопки */
    }

    /* Элементы меню */
    .contact-menu-item {
        height: 100px;
        margin: 20px 0px 0px 0px;
    }
    .services-item {
        width: 80%;
        font-size: var(--font_services_size_mobile);
    }

    .advantages-item {
        font-size: var(--font_size_mobile);
        width: 80%;
    }

    .advantages-item img {
        width: 80px;
        height: 80px;
        bottom: 40px;
        right: 40px;
    }

    .link-icon-txt {
        font-size: var(--font_size_menu_mobile);
    }

    .footer  {
        width: 100%;
        flex-direction: column;
        font-size: var(--font_size_mobile);
    }

    .footer-link-txt {
        margin: 20px 5px 20px 5px;
    }

    .footer-link-img {
        width: 100px;
        height: 100px;
        margin: 10px 30px 50px 30px;
    }

    .footer-bottom {
        padding: 15px 20px 40px 0px;
        width: 100%;
        font-size: var(--font_size_mobile);
    }

    .request {
        flex-direction: column;
    }

    .request-info-link {
        height: 100px;
        margin: 20px auto 0px auto;
        /*padding: 12px 20px;*/
        /*width: 80%;*/
    }

    .request-info-link .link-icon-txt {
        font-size: var(--font_size_mobile);
    }

    .request-info-text {
        font-size: var(--font_size_mobile);
    }

    .request-info-title {
        font-size: var(--font_size_mobile);
    }

    .btn-up {
        width: 100px;
        height: 100px;
    }

    .name, .telephone, .message, .form-button {
        height: 120px;
        border-radius: 60px;
        padding: 20px 50px 20px 50px;
        font-size: var(--font_size_menu_mobile);
        margin: 20px 0px 20px 0px;
    }

    .message {
        height: 400px;
    }

    .form-button {
        width: 100%;
        /*background: var(--color_services_main);*/
    }
}

/* ------------------------------------------------------- */

/******************************************/

