* {
  margin: 0;
  box-sizing: border-box;
}

.fon {
	/*width: 1600px;*/
	display: flex;
	flex-direction: column;
	width: 100%;
    background-image: url(../img/fon2.png);
    background-size: cover;
    opacity: 0.9;
    background-position: 50% 50%;
    margin: auto;
    padding-top: 10px;
    height: 1000px;
   }


.mess {
	width: 80%;
	/*height: 200px;*/
	margin: 0px auto 30px auto;
	padding: 10px 10px;
    border-radius: 5px;
    color: black;
    background-color: #DAA520;
    text-align: center;
    font-size: 22px;
}

.info {
	width: 80%;
	margin: 0px auto;

}

.info div {
	padding: 10px 20px 20px 20px;
	margin: 20px 0px 0px 0px;
    border-radius: 15px;
    color: whitesmoke;
    background-color: black;
    opacity: 0.9;
    font-size: 22px;
    border: 1px solid whitesmoke;
}

.info p {
	padding-top: 10px;
}


@media (max-width: 768px) {
    .fon {
        height: 1000px;
    }
    .info div{
        font-size: 14px;
        margin: 40px 0px 0px 0px;
    }
}