{% load i18n %}
{% load static %}
{% spaceless %}


<div class="request-info-text">Введите текст с картинки</div>
<div class="capture">
    <img class="capture-refresh" src="{% static 'lawyer/img/refresh.png' %}" id='js-captcha-refresh'>
    <div class="capture-img">
<!--        <label class="control-label">{{ label }}</label>-->
        <img src="{{ image }}" alt="captcha" class="captcha" height="50"/>
    </div>
    <div class="capture-input">
        {% include "django/forms/widgets/multiwidget.html" %}
    </div>

    <script type="text/javascript">
    document.getElementById('js-captcha-refresh').addEventListener('click', function () {
        fetch("/captcha/refresh/", {
            method: "GET",
            headers: {"X-Requested-With": "XMLHttpRequest"},
            credentials: "same-origin"
        })
        .then(response => response.json())
        .then(data => {
            document.querySelector('.captcha').src = data['image_url'];
            document.getElementById('id_captcha_0').value = data['key']
        });
    });
    </script>
</div>


{% endspaceless %}