{% load static %}
{% load lawyer_tags %}

<header>
      <div class="header-top-wrapper">
      <div class="header-top">
          {% get_contacts as contacts %}
          {% for c in contacts %}
            <a class="header-top-item" href="{{c.href}}" target="_blank" rel="noopener noreferrer">
                <div class="link-icon-txt"><img src={{c.pic.url}} alt="{{c.alt}}"><div>{{c.text}}</div></div>
            </a>
          {% endfor %}

      </div>
    </div>

  <div class="header-main">
    <div class="header-logo">
      <img src="{% static 'lawyer/img/logo_02.png' %}">
    </div>

    <div class="header-menu">
        {% get_menu as menu %}
        {% for m in menu %}
            <a class="header-menu-item" href="{{m.url_name}}">{{m.title}}</a>
        {% endfor %}
    </div>

    <div class="header-hamburger-menu">
      <!-- Кнопка с тремя полосками (гамбургер) -->
      <button class="hamburger-btn" id="hamburgerBtn">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </button>
      <!-- Выпадающее меню -->
      <div class="dropdown-menu" id="dropdownMenu">
        {% get_menu as menu %}
        {% for m in menu %}
            <a class="header-hamburger-menu-item" href="{{m.url_name}}">{{m.title}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="header-title-wrapper">
    <div class="header-title">
        <p>ВАШ ЮРИСТ</p>
        <p>в Донецкой Народной Республике</p>
    </div>
  </div>

</header>
