{% extends './base.html' %}
{% load static %}



{% block content %}
<h1 style="text-align: center;">ЮРИСТ</h1>
<hr />
<div class="list-wrapper">
    <p>Регисрация, внесение изменений ИП и ООО</p>
    <p>Сопровождение хозяйственной деятельности предприятий</p>
    <p>Сопровождение сделок с недвижимостью, регистрация недвижимости</p>
    <p>Получение лицензии на алкоголь</p>
    <p>Восстановление документов, наследственные дела, развод</p>
    <p>Составление любых видов документов: исковые заявления, жалобы, запросы, письма, договоры и другое</p>
    <p>Консультации на месте и удаленно</p>
</div>

{% endblock %}