<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Юрист для Вас</title>
    <link href="{% static 'lawyer/css/styles-zaglushka.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="fon">
    <!-- <img src="./img/fon.jpg"> -->
    <div class="mess">сайт находится в разработке</div>
    <div class="info">
        <div>
          <p>Регистрация Индивидуальных предпринимателей, юридических лиц, некоммерческих организаций, сопровождение в ФНС и у нотариуса</p>
          <p>Внесение изменений ЕГРЮЛ и ЕГРИП, смена директора, юридического адреса</p>
          <p>Составление регистрационных форм документов, уставы, приказы, положения, протоколы</p>
        </div>
        <div>
          <p>Сопровождение хозяйственной деятельности предприятий, организаций</p>
          <p>Договорная деятельность, представление интересов в коммунальных организациях</p>
        </div>
        <div>
          <p>Сопровождение сделок с недвижимостью</p>
          <p>Регистрация недвижимости физических и юридических лиц в ЕГНР</p>
        </div>
        <div>
          <p>Получение лицензии на розничную продажу алкогольной продукции+общепит</p>
        </div>
        <div>
          <p>Восстановление документов, наследственные дела, развод, установление фактов, имеющих юридическое значение</p>
        </div>
        <div>
          <p>Составление любых документов: исковые заявления, жалобы, запросы, письма, договоры, претензии и т.д.</p>
        </div>
    </div>
  </div>

</body>
</html>